/*reusable header and footer*/

header {
    text-align: center;
    padding: 20px 20px;
    background-color: #706FB3;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}