* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1 {
    font-size: 2.5rem;
    margin-top: 20px;
}

.how {
    padding: 10px 20px;
    padding-bottom: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.how h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.how p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 40px;
}

.package-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.category {
    width: 45%;
    margin: 20px 0;
}

.category h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.destination-card {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.destination-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 15px;
    text-align: center;
}

.info {
    font-size: 1.1rem;
    color: #555;
    text-align: center;
}

.price {
    font-size: 1.2rem;
    color: #1891DB;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.book_btn {
    background-color: #706FB3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: calc(30%);
    margin-right: calc(30%);
    display: block;
    border: none;
    text-align: center;
    cursor: pointer;
}

/*media queries (responsive)*/

@media screen and (max-width: 992px) {
    .category {
        width: 100%;
    }
}

@media screen and (max-width: 890px) {
    .book_btn {
        margin-left: calc(10%);
        margin-right: calc(10%);
    }
}