* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.custom_booking_form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.custom_booking_form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.custom_booking_form input,
.custom_booking_form select,
.custom_booking_form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.custom_booking_form button {
    background-color: #706FB3;
    color: white;
    padding: 12px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#successMessage {
    position: fixed;
    display: none;
    padding: 12px 20px;
    border-radius: 6px;
    background-color: #3DC13C;
    color: #fff;
    margin-top: -600px;
    margin-left: 5px;
}